.list {
  list-style: none;
  padding: 0;
}

.list__item {
  display: inline-block;
  margin: 0 10px;
}

.list__item a {
  text-decoration: none;
  padding: 7px;
  background-color: #d6d6d6;
  color: #000;
  border-radius: 8px;
  border: solid 1px #fff;
}

.list__item a:hover {
  background-color: #000;
  color: #d6d6d6;
}